{% extends '_base.html' %}
{% load static %}

{% block extend_head %}

<link rel="stylesheet" href="{% static 'css/chat.css'%}">

{% endblock %}

{% block content %}


<form id="form">
    <input type="text" name="message">
</form>

<div id="messages">
    {% for message in messages %}
    {% if user != message.user %}
    <div class="message">
        <p>
            {{message.content}}
        </p>
    </div>
    {% else %}
    <div class="message bg-blue">
        <p>
            
            {{message.content}}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>



{% endblock %}

{% block extend_footer %}


<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + '{{chat_room.id}}'
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.type == 'chat') {
            let messages = document.getElementById('messages')
            if (data.user['id'] != `{{user.id}}`){
                messages.insertAdjacentHTML('beforeend', `<div class='message'>
                                                            <p>${data.message}</p>
                                                        </div>`
                                                        )
            }
            else {
                messages.insertAdjacentHTML('beforeend', `<div class='message bg-blue'>
                                                            <p>${data.message}</p>
                                                        </div>`
                                                        )
            }
             
            }
        
   
    };

    let form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        let message = e.target.message.value;
        console.log([`{{user.toJSON|safe}}`,])
        chatSocket.send(JSON.stringify({
            'message': message,
            'room': `{{chat_room.toJSON|safe}}`,
            'user': `{{user.toJSON|safe}}`

        }))
        form.reset()
    });

    function CreateMessage(data) {

    };

</script>

{% endblock %}